
/* GLOBAL TAGS */
html {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.47;
  font-weight: 300;
  color: #212121;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


