/* basic */
.swiper-container {
  position: relative;
  overflow: hidden;
}

.swiper-container,
.swiper-wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  align-items: center;
  cursor: grab;
}

.slider__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

/* plugin pagination */
.swiper-plugin-pagination {
  display: block;
  position: absolute;
  top: 50%;
  right: 2.2rem;
  width: 0.5rem;
  transform: translateY(-50%);

}

.swiper-plugin-pagination__item {
  display: block;
  margin: 100% 0;
  width: 100%;
  padding-top: 100%;
  height: 0;
  border-radius: 50% !important;
  border: none;
  background: #fff;
  transition: background ease 0.2s;
  cursor: pointer;
}

.swiper-plugin-pagination__item.is-active {
  background: #333;
}

/* pagiantion */

.swiper-plugin-navigation-prevEl,
.swiper-plugin-navigation-nextEl {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.swiper-plugin-navigation-prevEl {
  left: 10px;
}
.swiper-plugin-navigation-nextEl {
  right: 10px;
}
