footer.footer
  section.footer__left
    p.text-small.text-small_wite
      a.footer__link(href="mailto:info@eco-cabins.com") info@eco-cabins.com
  section.footer__center
    .main-logo
      a.logo-link(href="#")
        img.logo-img.logo-img_white(src="https://www.eco-cabins.com/EcoCabins-logo.png", alt="")
  section.footer__right
    p.text-small.text-small_wite
      a.logo-link(href="#") Cookies
    p.text-small.text-small_wite
      a.logo-link(href="#") Privacybeleid
