section.intro
  .container
    div.img-slider.img-slider_floating
      ul.slider-list
        li.slider-item
          img.slider-img(src="../../img/slider-img-1.jpg", alt="")
        li.slider-item
          img.slider-img(src="../../img/slider-img-1.jpg", alt="")
        li.slider-item
          img.slider-img(src="../../img/slider-img-1.jpg", alt="")
        li.slider-item
          img.slider-img(src="../../img/slider-img-1.jpg", alt="")
    div.intro__info
      h2.heading Duurzame materialen 
      p.text.text_black 
        | Alle EcoCabins hebben een hoge isolatiewaarde, worden geproduceerd met indien mogelijk
        | duurzame en/of natuurlijke materialen en hebben als opvallende uiterlijke kenmerk de ‘ronde hoeken’,
        | mogelijk gemaakt door het specifieke materiaalgebruik. De voordelen van bouwen met hout zijn legio: 
        | hout is licht, flexibel, isoleert goed en bouwt snel en efficiënt.
      a.button.button_transparent(href="#") Lees meer
