.advantages {
  padding: 85px 0;
  color: var(--color-darkgreen);
  background-color: var(--color-white);

  .container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }
}

.adv-image-wrapper {
  /* width: 355px; */
  height: 362px;
  overflow: hidden;
}

.adv-image {
  height: 100%;
  object-fit: cover;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 370px;
  margin-left: 75px;
  padding-left: 0;
  list-style: none;
}

.advantages-item {
  width: 155px;
}
