.description {
  padding: 72px 0 82px;
  color: var(--color-white);
  background-color: var(--clolor-barkgreen);

}

.text-wrapper {
  display: flex;
  margin: 0 -11px;

  p {
    margin: 11px;
  }
}

