.hero {
  position: relative;
  min-height: 600px;
  padding-top: 35px;

  /* padding-top: 35px; */

  /* padding-bottom: 233px; */
  overflow: hidden;
  color: var(--color-white);

  & .caption_mt_md {
    margin-top: 28px;
  }

  & .caption_big {
    margin-bottom: 12px;
  }

  & .heading {
    margin: 0;
    margin-bottom: 251px;
  }

  @media (min-width: 768px) {
    &::after {
      position: absolute;
      bottom: 0;
      z-index: 13;
      display: block;
      width: 62%;
      height: 37px;
      background-color: var(--color-white);
      content: "";
    }
  }

}

.hero ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hero .caption, 
.hero .heading {
  position: relative;
  z-index: 10;
}

/* TODO: set top and bottom paddings  */
.hero__lid-wrapper {
  /* width: 440px; */
  transition: transform, opacity 0.3s ease-out;
}

.sidestick-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 11;
  display: none;

  @media (min-width: 768px) {
    top: 50%;
    right: 0;
    bottom: unset;
    left: unset;
    display: block;
    transform: rotate(90deg);
    transform-origin: calc(100% - 34px) 21px;
  }
}

.hero__header {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10;
  transition: transform, opacity 0.3s ease-out;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-list {
  display: none;

  /* display: flex; */
  align-items: center;
  justify-content: flex-end;
  width: 542px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.nav__item {
  margin-right: 35px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25 ;
}

.main-logo {
  display: block;
  flex-shrink: 0;
  width: 150px;

  & img {
    display: block;
  }
}

.hero__bg-video {
  z-index: -1;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  background-color: var(--color-darkgreen);
}

.player__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
  background-color: var(--color-darkgreen);
  opacity: 0.4;

  &_dark {
    opacity: 0.8;
  }
}

.socials {
  margin: 0;
  margin-right: -40px;
  padding: 0;
  font-size: 12px;
  line-height: 1;
}

.socials__item {
  display: inline-block;
  padding-right: 40px;
}

.hamburger-toggler {
  display: inline-block;
  width: 31px;
  height: 31px;
  font-size: 0;
  background-color: transparent;
  background-image: url("img/gamburger-menu.svg");
  border: none;
  cursor: pointer;
}

.player {
  position: relative;
  top: 0;
  bottom: 0;
  margin-top: -35px;

  &_fullwidth {
    position: relative;
    right: 50%;
    left: 50%;
    width: 100VW;
    margin-right: -50vw;
    margin-left: -50vw;

  }
}

.player__button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 55px;
  height: 55px;
  padding: 0;
  font-size: 0;
  background-color: var(--color-white);
  border: none;
  border-radius: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: 0.35s ease-in box-shadow;

  &:hover {
    box-shadow: 0 0 0 6px var(--color-lightgrey);
    transition: 0.35s ease-out box-shadow;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px black, 0 0 0 6px var(--color-darkgreen);
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 13px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    transform: translate(-50%, -50%);
    content: "";

  }

  &.play::before {
    background-image: url(img/play.svg);
  }

  &.pause::before {
    background-image: url(img/pause.svg);
  }

}
