.hero {
  position: relative;
  min-height: 600px;

  /* padding-top: 35px; */

  /* padding-bottom: 233px; */
  overflow: hidden;
  color: var(--color-white);

  & .caption_big {
    margin-bottom: 12px;
  }

  & .heading {
    margin: 0;
  }

  &::after {
    position: absolute;
    bottom: 0;
    z-index: 13;
    display: block;
    width: 62%;
    height: 37px;
    background-color: var(--color-white);
    content: "";
  }

  @media (max-width: 698px) {
    min-height: 100%;
  }
}

.hero ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hero .caption, 
.hero .heading {
  position: relative;
  z-index: 10;
}

.container {
  /* position: relative; */
  height: 100%;
}

.hero__lid-wrapper {
  width: 440px;
  transition: transform, opacity 0.3s ease-out;
}

.sidestick-wrapper {
  position: absolute;
  top: 115px;
  right: -300px;
  z-index: 10;
  transform: rotate(90deg);
  transform-origin: 0 0;
  transition: transform, opacity 0.3s ease-out;

  @media (max-width: 698px) {
    position: relative;
    right: unset;
    display: none;
    transform: rotate(0deg);
  }
}

.hero__header {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin-bottom: 115px;
  transition: transform, opacity 0.3s ease-out;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 542px;
  margin-top: 0;
  margin-bottom: 0;
}

.nav__item {
  margin-right: 35px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25 ;
}

.main-logo {
  display: block;
  flex-shrink: 0;
  width: 150px;

  & img {
    display: block;
  }
}

.hero__bg-video {
  z-index: -1;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  background-color: var(--color-darkgreen);
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
  background-color: var(--color-darkgreen);
  opacity: 0.4;

  &_dark {
    opacity: 0.8;
  }
}

.socials {
  font-size: 12px;
  line-height: 1;
}

.socials__item {
  display: inline-block;
  margin-right: 40px;
}

.hamburger-toggler {
  display: none;
}

.player {
  position: relative;
  top: 0;
  bottom: 0;
  margin-top: -35px;

  &_fullwidth {
    position: relative;
    right: 50%;
    left: 50%;
    width: 100VW;
    margin-right: -50vw;
    margin-left: -50vw;

  }
}

.player__button {
  position: absolute;
  top: 44%;
  right: 37%;
  z-index: 10;
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 0;
  background-color: var(--color-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.35s ease-in box-shadow;

  &:hover {
    box-shadow: 0 0 0 6px var(--color-lightgrey);
    transition: 0.35s ease-out box-shadow;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px black, 0 0 0 6px var(--color-darkgreen);
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 8px;
    height: 9px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    transform: translate(-50%, -50%);
    content: "";

    @media (max-width: 885px) {
      width: 13px;
      height: 15px;
    }
  }

  &.play::before {
    background-image: url(img/play.svg);
  }

  &.pause::before {
    background-image: url(img/pause.svg);
  }

  @media (max-width: 1108px) {
    right: 30%;
  }

  @media (max-width: 885px) {
    top: 40%;
    right: 26%;
    width: 55px;
    height: 55px;

    /* background-size: 150% 150%; */
  }

  @media (max-width: 768px) {
    top: 46%;
    right: 19%;
    width: 55px;
    height: 55px;

    /* background-size: 150% 150%; */
  }

  @media (max-width: 698px) {
    right: 50%;
    transform: translateX(50%);
  }

}
