.hero {
  position: relative;
  min-height: 600px;
  padding-top: 35px;
  padding-bottom: 233px;
  overflow: hidden;
  color: #fff;

  & .caption_big {
    margin-bottom: 12px;
  }

  & .heading {
    margin: 0;
  }

  &::after {
    position: absolute;
    bottom: 0;
    z-index: 13;
    display: block;
    width: 62%;
    height: 37px;
    background-color: var(--color-white);
    content: "";
  }
}

.hero ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hero .caption, 
.hero .heading {
  position: relative;
  z-index: 10;
}

.container {
  /* position: relative; */
  height: 100%;
}

.hero__lid-wrapper {
  width: 440px;
  transition: transform, opacity 0.3s ease-out;
}

.sidestick-wrapper {
  position: absolute;
  top: 115px;
  right: -300px;
  z-index: 10;
  transform: rotate(90deg);
  transform-origin: 0 0;
  transition: transform, opacity 0.3s ease-out;
}

.hero__header {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin-bottom: 115px;
  transition: transform, opacity 0.3s ease-out;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 542px;
  margin-top: 0;
  margin-bottom: 0;
}

.nav__item {
  margin-right: 35px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25 ;
}

.main-logo {
  display: block;
  width: 150px;

  & img {
    display: block;
  }
}

.hero__bg-video {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  object-fit: cover;
  background-color: #222F33;
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
  background-color: #222F33;
  opacity: 0.4;
}

.socials {
  font-size: 12px;
  line-height: 1;
}

.socials__item {
  display: inline-block;
  margin-right: 40px;
}

.hamburger-toggler {
  display: none;
}

.player {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.player__button {
  position: absolute;
  top: 44%;
  right: 37%;
  z-index: 10;
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 0;
  background-color: var(--color-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.player__button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  content: "";
}

.player__button.play::before {
  width: 8px;
  height: 9px;
  background-image: url(img/play.svg);
}

.player__button.pause::before {
  width: 8px;
  height: 11px;
  background-image: url(img/pause.svg);
}
