.intro {
  position: relative;
  padding: 25px 0 57px;
  color: var(--color-lightgrey);
  background-color: var(--color-white);

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 13;
    display: block;
    width: 38%;
    height: 34%;
    background-color: var(--color-darkgreen);
    content: "";
  }
}

.container {
  position: relative;
}

.img-slider {
  position: absolute;
  top: -101px;
  right: 0;
  z-index: 20;
  width: 325px;
  height: 366px;
}

.intro .slider-list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--colors-darkgreen);
}

.slider-item img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.intro .paragraph {
  width: 400px;
}

.slide-controls {
  position: absolute;
  bottom: 18px;
  left: 50%;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: translateX(-50%);

  &__button {
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    padding: 0;
    font-size: 0;
    background-color: var(--color-white);
    border: none;
    border-radius: 50%;
    opacity: 0.6;

    &_active {
      opacity: 1;
    }
  }
}


