<div class="[ player--background ]">
  <div class="[ player__overlay ]"></div>
  <button class="sr-only" aria-label="Play video"></button>
  <video class="[ player__video ] [ object-cover object-bottom min-w-full min-h-full ]" src="/assets/media/main-video.mp4" poster="/assets/images/hero-videoposter.jpg" muted loop>
    <source src="/assets/media/main-video.mp4" type="video/mp4" />
  </video>
</div>
