<div class="player">
  <button class="sr-only" aria-label="Play video"></button>
  <video class="hero__bg-video" src="/assets/media/main-video.mp4" poster="/assets/images/hero-videoposter.jpg" muted loop>
    <source src="/assets/media/main-video.mp4" type="video/mp4" />
  </video>
</div>
