{% macro button(variant="fill", text ="", link=false, rounded=true, utilClasses="") %}
  {% set roundedClass = " [ button--round ]" if rounded else "" %}

  {% set tag = "button" %}
  {% set embeddedClasses = "[ button ]" + roundedClass %}

  {% if link %}
    {% set tag = "a" %}
  {% endif %}

  {% if variant == "fill" %}
    {% set utilClasses = utilClasses + "border-none" %}
  {% elif variant == "outline" %}
    {% set utilClasses = utilClasses + "border border-primary"  %}
  {% endif %}

  <{{tag}} class="{{ embeddedClasses }} [ {{utilClasses}} ]">{{text}}</{{tag}}>
{% endmacro %}
