{% macro button(variant="fill", text ='', link=false, rounded=false, customClasses='') %}
  {% set roundedClass = " button--round" if rounded else "" %}

  {% set tag = "button" %}
  {% set commonClasses = "[ button" + roundedClass +" ]"  %}
  {% set fillClasses = commonClasses + "border-none" %}
  {% set outlineClasses = commonClasses + "border border-primary" %}

  {% if link %}
    {% set tag = "a" %}
  {% endif %}

  {% if variant == "fill" %}
    {% set embeddedClasses = fillClasses %}
  {% elif variant == "outline" %}
    {% set embeddedClasses = outlineClasses %}
  {% endif %}

  <{{tag}} class="{{ embeddedClasses }} {{customClasses}}">{{text}}</{{tag}}>
{% endmacro %}
