{# TODO: mobile nav menu reference: https://codepen.io/Kmil/pen/VxmKpX #}
{% from "partials/components/main-logo.njk" import logo %}

{% if navigation.items %}
  <button class="[ nav-toggle ]" type="button" aria-label="Menu" aria-expanded="true">
    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none">
      <path class="fill-current" d="M.5 4.5h31v2H.5zm0 7h31v2H.5zm0 7h31v2H.5zm0 7h31v2H.5z"/>
    </svg>
  </button>

  {% set logoWrapperClasses="" %}
  {{ logo(logoWrapperClasses) }}

  <div class="[ nav-wrapper ]">

    <nav class="[ nav ] [ nav--main ] [ sr-only ] ">
      <ul class="[ nav__list ] [ lg:space-x-10 md:space-before ]">
        {% for item in navigation.items %}
          {% set relAttribute = '' %}
          {% set currentAttribute = '' %}

          {% if item.rel %}
            {% set relAttribute = ' rel="' + item.rel + '"' %}
          {% endif %}

          {% if page.url == item.url %}
            {% set currentAttribute = ' aria-current="page"' %}
          {% endif %}

          {% set linkClasses = "" %}
          <li class="[ nav__item ]">
            <a class="{{linkClasses}}" href="{{ item.url }}"{{ relAttribute | safe }} {{ currentAttribute | safe }}>{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    {% set socialsVertical = false %}
    <div class="[ social-links--wrapper ]">
      {% include "partials/components/social-links.njk" %}
    </div>

  </div>

  <div class="[ button-wrapper ]">
    {{ button(text=header.button, link=true) }}
  </div>
{% endif %}
