{% set items = socials.items %}

{% if items %}
  {# TODO: rewrite with flex for 'social-links__list' and rotate-90 for  #}
  <nav class="[ nav--vertical-right ]">
    <ul class="[ social-links__list ] [ flex items-center space-x-6 md:space-before ]">
      {% for item in items %}
        {% set relAttribute = '' %}

        {% if item.rel %}
          {% set relAttribute = ' rel="' + item.rel + '"' %}
        {% endif %}

        <li class="nav__item">
          <a href="{{ item.url }}"{{ relAttribute | safe }} >{{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
