{% from "partials/components/button.njk" import button %}
{% from "partials/components/main-logo.njk" import logo %}


<a class="sr-only skip-link" href="#main-content">Skip to content</a>

<header role="banner" class="[ site-head ]">

  <div class="container">

    <span class="sr-only">{{ site.name }}: {{ pageType }}</span>

    <div class="[ site-head__inner ] [ relative flex justify-between items-center ]">

      {% set logoWrapperClasses="" %}
      {{ logo(logoWrapperClasses) }}

      {% include "partials/components/nav.njk" %}

      <div class="[ button-wrapper ]">
        {{ button(text=header.button, link=true) }}
      </div>

    </div>
  </div>
</header>
