<footer role="contentinfo" class="[ site-foot ]">
  <div class="container mx-auto">
    {% include 'partials/components/main-logo.njk'%}
    <div class="[ links-wrapper ]">
      <ul class="[ footer-links__list ]">
        {% for link in footer.links %}
          <li class="footer-link__item">
            <a href="{{ link.href }}">{{ link.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</footer>
