<footer role="contentinfo" class="[ site-foot ] [ font-sans pad-top-700 pad-bottom-900 ]">
  <div class="wrapper">
    {% if site.showThemeCredit %}
      <p class="[ site-foot__credit ] [ pad-top-900 ]">
        Made by , <a href="https://github.com/mistical2008" rel="external">Evgeniy Talko</a> — <a href="#main-content">Go back to the top</a>.
      </p>
    {% endif %}
  </div>
</footer>
