@layer utilities {
  @variants responsive {
    /* Flex-basis for direct child nodes: */
    .child-basis-0 > * {
      flex-basis: 0;
    }

    .child-basis-full > * {
      flex-basis: 100%;
    }

    .child-basis-1\/2 > * {
      flex-basis: calc(50% - var(--items-gap, 0px));
    }

    .child-basis-1\/3 > * {
      flex-basis: calc(33.333333% - var(--items-gap, 0px));
    }

    .child-basis-1\/4 > * {
      flex-basis: calc(25% - var(--items-gap, 0px));
    }

    .child-basis-1\/5 > * {
      flex-basis: calc(20% - var(--items-gap, 0px));
    }

    .child-basis-1\/6 > * {
      flex-basis: calc(16.666666% - var(--items-gap, 0px));
    }

    .child-basis-1\/7 > * {
      flex-basis: calc(14.285714% - var(--items-gap, 0px));
    }

    .child-basis-1\/8 > * {
      flex-basis: calc(12.5% - var(--items-gap, 0px));
    }

    .child-basis-1\/9 > * {
      flex-basis: calc(11.111111111% - var(--items-gap, 0px));
    }

    .child-basis-1\/10 > * {
      flex-basis: calc(10% - var(--items-gap, 0px));
    }

    /* Flex-basis for current element */
    .basis-0 {
      flex-basis: 0;
    }
    .basis-full {
      flex-basis: calc(100% - var(--items-gap, 0px));
    }

    .basis-1\/2 {
      flex-basis: calc(50% - var(--items-gap, 0px));
    }

    .basis-1\/3 {
      flex-basis: calc(33.333333% - var(--items-gap, 0px));
    }

    .basis-1\/4 {
      flex-basis: calc(25% - var(--items-gap, 0px));
    }

    .basis-1\/5 {
      flex-basis: calc(20% - var(--items-gap, 0px));
    }

    .basis-1\/6 {
      flex-basis: calc(16.666666% - var(--items-gap, 0px));
    }

    .basis-1\/7 {
      flex-basis: calc(14.285714% - var(--items-gap, 0px));
    }

    .basis-1\/8 {
      flex-basis: calc(12.5% - var(--items-gap, 0px));
    }

    .basis-1\/9 {
      flex-basis: calc(11.111111111% - var(--items-gap, 0px));
    }

    .basis-1\/10 {
      flex-basis: calc(10% - var(--items-gap, 0px));
    }
  }
}
