{% set sectionClasses = sectionClasses | default("") %}

{% if sectionClasses %}
  {% set classes = 'class="' + sectionClasses + '"' %}
{% endif %}

<section {{ classes | safe }}>
  <div class="[ container ]">
    <div class="[ content-wrapper ]">

      {% block content %}
      {% endblock %}

    </div>
  </div>
</section>
