{# FIXME: doesn't overrides parent variable from extended child #}
{% set customClasses = "" %}

<section class="{{customClasses}}">
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</section>
