{% set sectionClasses = sectionClasses | default("") %}
{% set contentWrapperClasses = contentWrapperClasses | default("[ content-wrapper ]") %}

{% if sectionClasses %}
  {% set classes = 'class="' + sectionClasses + '"' %}
{% endif %}

{% set contentWrapperClasses = 'class="' + contentWrapperClasses + '"' %}

<section {{ classes | safe }}>
  <div class="[ container ]">
    <div {{ contentWrapperClasses | safe }}>

      {% block content %}
      {% endblock %}

    </div>
  </div>
</section>
