  {# TODO: rewrite with flex for 'social-links__list' and rotate-90 for  #}
  <nav class="[ nav--vertical-right ]">
    {% block content %}
      this block should be extended in child templates
    {% endblock %}
  </nav>
