footer.footer
  div.container
    section.footer__left
      p.paragraph.paragraph_md
        a.footer__link(href="mailto:info@eco-cabins.com") info@eco-cabins.com
    section.footer__center
      .main-logo
        a.logo-link(href="#")
          img.logo-img.logo-img_white(src="./../../img/logo-main_white.svg", alt="")
    section.footer__right
      p.paragraph.paragraph_md
        a.footer-link(href="#") Cookies
      p.paragraph.paragraph_md
        a.footer-link(href="#") Privacybeleid
