- var videoSrc = "../assets/main-video.mp4"
- var videoPosterSrc = "../img/hero-videoposter.jpg"

section.hero
  header.hero__header
    .container
      nav.main-nav
        button.hamburger-toggler
          | Toggle navigation
        a.main-logo(href="#")
          //- img(src="https://www.eco-cabins.com/EcoCabins-logo.png", alt="EcoCabins ©")
          img(src="../assets/logo-main_white.svg" alt="EcoCabins ©" width="150")
        ul.nav-list
          li.nav__item
            a.nav__link(href="#")
              | Modellen
          li.nav__item
            a.nav__link(href="#")
              | Kopen
          li.nav__item
            a.nav__link(href="#")
              | Huren
          li.nav__item
            a.nav__link(href="#")
              | Nieuws
        a.nav__link.button.button_white(href="#")
          | Contact

  .container
    div.player.player_fullwidth
      button.player__button.play Play video
      div.player__overlay
      video.hero__bg-video(src= videoSrc poster= videoPosterSrc muted loop)
        source(src= videoSrc, type="video/mp4")

    div.hero__lid-wrapper
      h1.caption.caption_big.caption_mt_md Duurzame tiny huisje
      p.heading.heading_white Een ecologisch tiny huisje is zoveel mogelijk opgebouwd uit duurzame natuurlijke materialen

    div.sidestick-wrapper
      ul.socials.caption.caption_small
        li.socials__item
          a.socials__link(href="#")
            | Instagram
        li.socials__item
          a.socials__link(href="#")
            | Facebook
        li.socials__item
          a.socials__link(href="#")
            | Linkedin

  
