section.advantages
  .container
    div.adv-image-wrapper
      img.adv-image(src="../img/walley.jpg", alt="")
    .advantages-wrapper
      ul.advantages-list
        li.advantages-item
          h3.subheading Hout
          p.paragraph.paragraph_md De draagconstructies van EcoCabins bestaan uit hout. Hout is duurzaam en.
        li.advantages-item
          h3.subheading Glaswol isolatie
          p.paragraph.paragraph_md De combinatie van glaswol met een houtskelet constructie geeft een.
        li.advantages-item
          h3.subheading Afwerking
          p.paragraph.paragraph_md De draagconstructies van EcoCabins bestaan uit hout. Hout is duurzaam en.
        li.advantages-item
          h3.subheading Triple glas
          p.paragraph.paragraph_md De combinatie van glaswol met een houtskelet constructie geeft een.
        li.advantages-item
          h3.subheading Stalen onderstel
          p.paragraph.paragraph_md Het stalen onderstel is sterk zijn en heeft de benodigde stijfheid die
        li.advantages-item
          h3.subheading Infrarood vloer
          p.paragraph.paragraph_md De vloer wordt opgewarmd middels opgewekte warmte uit eigen zonne-energie.
