<section class="{{customClasses}}">
  <div class="container">
    <div class="[ content-wrapper ]">

      <div class="[ image-wrapper ]">
        <img src="{{ advantages.cover.src }}" alt="{{ advantages.cover.alt }}">
      </div>

      <div class="[ advantages ]">
        {% for advantage in advantages.items %}
          <h3 class="[ heading-md ] [ text-primary ]">{{ advantage.heading }}</h3>
          <p>{{ advantage.text }}</p>
        {% endfor %}
      </div>

    </div>
  </div>
</section>

