{% extends "layouts/section-container.njk" %}

{% set sectionClasses = "bg-primary text-white" %}
{% set contentWrapperClasses = "space-y-4" %}

{% block content %}

    <h2 class="[ heading-lg ]">{{innovation.heading}}</h2>

    {% for paragraph in innovation.text %}
        <p>{{ paragraph }}</p>
    {% endfor %}

{% endblock %}
