{% extends "layouts/section-container.njk" %}

{% set sectionClasses = "bg-primary text-white" %}
{% set contentWrapperClasses = "space-y-4" %}

{% block content %}

    <h2 class="[ heading-lg ]">{{innovation.heading}}</h2>

    <div class="flex flex-col space-y-6 md:flex-row md:space-x-10 md:space-y-0">
        {% for paragraph in innovation.text %}
        <p class="">{{ paragraph }}</p>
        {% endfor %}
    </div>

{% endblock %}
