extends _layouts/main-page.pug

block pageContent

    include /_blocks/section-hero.pug
    include /_blocks/section-intro.pug
    include /_blocks/section-description.pug
    include /_blocks/section-advantages.pug

    // https://www.eco-cabins.com/en/about-us/
