.fadeout {
  opacity: 0;
  transition: transform, opacity 0.3s ease-out;
}

.fadeout_top {
  transform: translateY(-100px);
}

.fadeout_bottom {
  transform: translateY(100px);
}

.fadeout_left {
  transform: translateX(-100px);
}

.fadeout_right {
  transform: translateX(100px);
}

