---
layout: layouts/home.njk
header:
  button: 'Contact'
intro:
  heading: 'Duurzame tiny huisjes'
  description: 'Een ecologisch tiny huisje is zoveel mogelijk opgebouwd uit duurzame natuurlijke materialen'
playBtn:
  text: 'Bekijk de film'
materials:
  heading: 'Duurzame materialen'
  text: 'Alle EcoCabins hebben een hoge isolatiewaarde, worden geproduceerd met indien mogelijk duurzame en/of natuurlijke materialen en hebben als opvallende uiterlijke kenmerk de ‘ronde hoeken’, mogelijk gemaakt door het specifieke materiaalgebruik. De voordelen van bouwen met hout zijn legio: hout is licht, flexibel, isoleert goed en bouwt snel en efficiënt.'
  button: 'Lees meer'
  slider:
    images: ["/assets/images/slider-img-1.jpg"]
---

{# Import components #}
{% include "partials/sections/intro.njk" %}
{% include "partials/sections/materials.njk" %}
