---
layout: layouts/home.njk
header:
  button: 'Contact'
intro:
  heading: 'Duurzame tiny huisjes'
  description: 'Een ecologisch tiny huisje is zoveel mogelijk opgebouwd uit duurzame natuurlijke materialen'
playBtn:
  text: 'Bekijk de film'
materials:
  heading: 'Duurzame materialen'
  text: 'Alle EcoCabins hebben een hoge isolatiewaarde, worden geproduceerd met indien mogelijk duurzame en/of natuurlijke materialen en hebben als opvallende uiterlijke kenmerk de ‘ronde hoeken’, mogelijk gemaakt door het specifieke materiaalgebruik. De voordelen van bouwen met hout zijn legio: hout is licht, flexibel, isoleert goed en bouwt snel en efficiënt.'
  button: 'Lees meer'
  slider:
    images: ["/assets/images/slider-img-1.jpg"]
innovation:
  heading: 'Innovatie'
  text: [
    'Wij hebben als doel om de EcoCabins voortdurend verder te ontwikkelen en innoveren, zodat de EcoCabins uiteindelijk 100% duurzaam en circulair zijn. Voorwaarde hierbij is dat de EcoCabins betaalbaar blijven. Met behulp van de zon, de wind en de beste isolatie geniet u van.',
    'Alle EcoCabins hebben een hoge isolatiewaarde, worden geproduceerd met indien mogelijk duurzame en/of natuurlijke materialen en hebben als opvallende uiterlijke kenmerk de ‘ronde hoeken’, mogelijk gemaakt door het specifieke materiaalgebruik De voordelen van bouwen.'
  ]
advantages:
  image: '/assets/images/walley.jpg'
  items: [
    {
      heading: 'Hout',
      text: 'De draagconstructies van EcoCabins bestaan uit hout. Hout is duurzaam en.'
    },
    {
      heading: 'Glaswol isolatie',
      text: 'De combinatie van glaswol met een houtskelet constructie geeft een.'
    },
    {
      heading: 'Afwerking',
      text: 'De draagconstructies van EcoCabins bestaan uit hout. Hout is duurzaam en.'
    },
    {
      heading: 'Triple glas',
      text: 'De combinatie van glaswol met een houtskelet constructie geeft een.'
    },
    {
      heading: 'Stalen onderstel',
      text: 'Het stalen onderstel is sterk zijn en heeft de benodigde stijfheid die'
    },
    {
      heading: 'Infrarood vloer',
      text: 'De vloer wordt opgewarmd middels opgewekte warmte uit eigen zonne-energie.'
    },
  ]
footer:
  links: [
    {text: 'info@eco-cabins.com', link: 'mailto:info@eco-cabins.com'},
    {text: 'Cookies', link: '#'},
    {text: 'Privacybeleid', link: '#'}
  ]
---

{# Import components #}
{% include "partials/sections/intro.njk" %}
{% include "partials/sections/materials.njk" %}
